@import url(fonts.css);

/* dark mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

body {
    font-family: 'Jua', sans-serif;
    text-align: center;
}

.header {
    font-size: 250%;
}

.app {
    font-size: 250%;
}

input {
    width: 50%;
    height: 40%;
    font-size: 70%;
    text-align: center;
}